:root {

    --primary-color: #FF5B00;
}

.bg-primary-s {
    background-color: var(--primary-color);
}

.bg-secondary-s {
    background-color: #FF9800;
}

.btn-orange-s {
    background-color: #BF360C;
}

.footer-black {
    background-color: #212121;
}

.bg-terciary-s {
    background-color: #E0E0E0;
}

.images {
    height: 500px;
}

.image-product{
    width: 350px;
    height: 350px;
}

.image-hover {
    transition: transform 0.3s ease;
    display: block;
    margin: 50px auto;
}

/* Efecto al pasar el cursor */
.image-hover:hover {
    transform: scale(1.1); 
}

.add-product:hover{
    background-color: #212121;
}