.bg-primary-s{
    background-color: #FF5B00;
}

.bg-secondary-s{
    background-color: #FF9800;
}

.btn-orange-s{
    background-color: #BF360C;
}

.footer-black{
    background-color: #212121;
}

.bg-terciary-s{
    background-color: #E0E0E0; 
}

.images{
    height: 500px;
}